<style>
  .main {
    text-align: center;
  }

  .main h3 {
    opacity: 0.7;
  }
</style>
<div class="container main">
  <div class="row">
    <div class="col-3">
      <h3>Pod</h3>
      <p>{{hostname}}</p>
    </div>
    <div class="col-3">
      <h3>Version</h3>
      <p>{{version}}</p>
    </div>
    <div class="col-3">
      <h3>SHA</h3>
      <p>{{sha}}</p>
    </div>
    <div class="col-3">
      <h3>Uptime</h3>
      <p>{{uptime}}</p>
    </div>
  </div>
</div>